.filter{
   display:flex;
   justify-content:flex-end;
}
.form-control{
    width:125px !important;
}
.products{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
table{
border-radius:8px !important;
}