@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@media screen and (max-width: 700px) {
  .heading {
    display: none;
  }

  .left-div {
    display: none !important;
    background-color: #e3e5e6;
  }

  .right-div {
    width: 100% !important;
  }
  .sign-in-box {
    padding-left: 8px !important;
      }
}

.left-div {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 108, 243); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(173 160 207), rgb(255 255 114 / 47%));
  /* background-color: rgb(13, 130, 162); */
}

.main-div {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100%;
  
}

.p {
  font-family: "Lato", sans-serif;
  padding-bottom: 30px;
  padding-top: 4px;
}

.heading {
  text-align: center;
  font-weight: 900;
  justify-content: center;
  color: #ffff;
  font-size: 50px;
  font-family: cursive;
}

.right-div {
  background-color: rgb(255, 108, 243); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(173 160 207), rgb(255 255 114 / 47%));
  /* background-color: #e3e5e6; */
  width: 100%;
}

.heading {
  text-align: center;
}

.sign-in-box {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
}

h4 {
  margin-bottom: 31px;
}

.button-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.email-box {
  font-family: "Lato", sans-serif;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  width: 93%;
  font-weight: 400;
  height: 30px;
  background: #f5f5f5;
}

.password-box {
  padding: 8px;
  border-radius: 10px;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  width: 93%;
  background-color: #f5f5f5;
}

.labelname {
  padding: 6px;
  font-size: 18px;
}

.toggle-password-show {
  position: absolute;
  display: flex;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-60);
  cursor: pointer;
  padding: 5px;
}

.authentication-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
  gap: 20px;
}

.input-fields {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  display: flex;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
  flex-direction: column;
}

.button-1 {
  background-color: white;
  text-align: center;

  height: 30px;
  width: 180px;
  border-radius: 10px;

  border: 0px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}


.custom-button-class{
  background-color: white;
  text-align: center;

  height: 30px;
  width: 180px;
  height: 40px; 
  border-radius: 5px;


  border: 0px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;

}


.icons {
  padding: 2px;
}

.login-btn {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.link {
  color: #346bd4;
  cursor: pointer;
}

.body2 {
  padding:3px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #858585;
}

.Si {
  font-family: cursive;
  font-weight: 700;
  font-size: 36px;
}

.parent-class .custom-google-login {
  background-color: white !important;
  text-align: center !important;

  height: 30px !important;
  width: 190px !important;

  border-radius: 10px !important;
  /* background: none !important; */
  border: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  cursor: pointer !important;
  padding: 7px;
  padding-left: 14px;
  display: flex;
  gap: 6px;
}

.custom-google-icon {
  /* add your custom styles here */

  margin-top: 10px !important;
}

.apexcharts-pie-series path {
  stroke: none !important;
}